[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "symSEM"]
	path = symSEM
	url = https://github.com/mikewlcheung/symsem
	shallow = true
	registered = true
