[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "metaSEM"]
	path = metaSEM
	url = https://github.com/mikewlcheung/metasem
[submodule "mulSEM"]
	path = mulSEM
	url = https://github.com/mikewlcheung/mulsem
[submodule "symSEM"]
	path = symSEM
	url = https://github.com/mikewlcheung/symsem
